html{
  height: 100vh;
}

body{
  height: 100%;
  overflow: hidden;
}


.main {
  background-color: #000;
  overflow: hidden;
  position: relative;
}

.swiper {
  display: flex;
  justify-content: space-between;
  overflow-x: visible;
  transition-property: transform;
  will-change: transform;
  height: 100%;
  align-items: center;
}

img{
  padding: 0 25px 0 25px;
}

.main h1{
  position: absolute;
  top: 5%;
  width: 100%;
  text-align: center;
  color: #fff;
}

.move {
  display: flex;
  position: absolute;
  width: 10%;
  height: 100%;
  top: 0%;
  font-size: 36px;

  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-sizing: border-box;
  border: 0;
  transition-timing-function: ease-out;
  transition: 0.5s;
}

.back:hover, .next:hover{
  color: #000;
  transition-timing-function: ease-in;
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0.8);  
}

.back {
  background-color: transparent;
  color: transparent;
  --bs-gutter-x: 0;
  left: 0px;
}
.next {
  background-color: transparent;
  color: transparent;
  --bs-gutter-x: 0;
  right: 0px;
}

.rectangle-wrapper{
  position: absolute;
  top: 83%;
  left: 30%;

  width: 40%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rectangle{
  background-color: rgb(128,128,128);
  height: 15%;
  width: 10%;
 
}

.active{
  background-color: #fff;
}

@media (max-width: 1024px) {
  .back, .next{
    visibility: hidden;
  }

  img{
    height: 45%;
  }
}

@media (min-width: 300px) and (max-width: 500px) {
  img{
    padding: 0 5px 0 5px;
    height: 35%;
  }
}
